c Pigeonhole Principle: 3 pigeons into 2 holes (UNSAT)
p cnf 6 9
c each pigeon in at least one hole
 1  2 0
 3  4 0
 5  6 0

c no hole has two pigeons
-1 -3 0
-1 -5 0
-3 -5 0

-2 -4 0
-2 -6 0
-4 -6 0
